<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard"> <!-- standard or admin -->
        <route id="hieu" frontName="hieu">
            <module name="Lof_HieuHelloMagento2"/>
        </route>
    </router>
</config>

